@font-face{
    font-family:"NotoSansHans-Light";
    src:url("../fonts/NotoSansHans/NotoSansHans-Light.otf");
}
@font-face{
    font-family:"NotoSansHans-Regular";
    src:url("../fonts/NotoSansHans/NotoSansHans-Regular.otf");
}
@font-face{
    font-family:"NotoSansHans-Bold";
    src:url("../fonts/NotoSansHans/NotoSansHans-Bold.otf");
}
@font-face{
    font-family:"NotoSansHans-Black";
    src:url("../fonts/NotoSansHans/NotoSansHans-Black.otf");
}
html{
    font-size:20px;
}
body{
    font-family:"NotoSansHans-Regular";
    background-color:#F7F7F7;
}
.container{
    position:relative;
    margin-right:1rem;
    margin-left:1rem;
}
@media(min-width:768px){
    .container{
        margin-right:auto;
        margin-left:auto;}
}
/*logo附加样式*/
.jiujiuLogo{
    position:absolute;
    top:1rem;
    height:2rem;
}
@media(min-width:768px){
    .jiujiuLogo{ 
        height:3rem;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }
}
@media(min-width:992px){
    .jiujiuLogo{ 
        left:0;
    }
}
.jiujiuLogo>img{
    height:100%;
    display:block;
    margin-left:0;
}
@media(min-width:768px){
    .jiujiuLogo>img{
        margin-left:auto;
        margin-right:auto;
        }
}
@media(min-width:992px){
    .jiujiuLogo>img{margin:0 auto;}
}
/*slogan附加样式*/
.jiujiuSlogan{
    position:absolute;
    top:4rem;
    margin-top:0.5rem;
    height:0.5rem;
    display:none;
}
@media(min-width:992px){
    .jiujiuSlogan{ 
        margin-top:1rem; 
        height:1rem;
        display:block;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }
}
.jiujiuSlogan>img{
    height:100%;
    display:block;
    margin:0 auto;
}
/*导航栏附加样式*/
.jiujiuNav{
    top:1rem;
    left:15px;
    right:15px;
    margin-top:1rem;
}
.jiujiuNav>.navbar{
    padding:0;
    margin-bottom:0;
}
.nav>li>a{
    padding:0px 15px;
}
.navbar-brand{
    height:1rem;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:20px;
    display:none;
}
@media(min-width:768px){
    .navbar-brand{ display:block; }
}
.navbar-brand>img{
    height:100%;
}
.navbar-default{
    background:none;
    border:none;
}
/*导航toggle附加样式*/
.navbar-toggle{
    margin:0;
    border:none;
    padding:0;
    border-radius:0;
}
.navbar-toggle .icon-bar{
    height:0.2rem;
    border-radius:0;
}
.navbar-toggle .icon-bar + .icon-bar{
    margin-top:0.2rem;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:#000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color:transparent;
}
/*导航栏toggle点击打开后的附加样式*/
.navbar-collapse{
    border-top:none;/*去掉默认1px的上border*/
    margin-top:2rem;
    padding:0;
}
.navbar-nav{
    margin:0;
}
.navbar-nav>li{
    float:left;/*小屏幕时菜单项也保持左浮动*/
}
.navbar-collapse>.navbar-nav>li{
    width:33.33%;/*小屏幕时每个菜单项的宽度为三分之一父元素宽度*/
}
.navbar-collapse>.navbar-nav>li>a{
    position:relative;
    z-index:1000;
    text-align:center;/*小屏幕时每个菜单项的文本居中*/
    line-height:1.4rem;
    height:1.5rem;
    width:100%;
    border:0.05rem solid #000;
    background-color:transparent;
    color:#000;
    transition:background-color 0.1s ease-in;
}
.navbar-collapse>.navbar-nav>li:first-of-type>a{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right:0;
}
.navbar-collapse>.navbar-nav>li:last-of-type>a{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left:0;
}
.navbar-collapse>.navbar-nav>li>a:hover,
.navbar-collapse>.navbar-nav>li>a:focus{
    background-color:#DCDCDD;
}
@media(min-width:768px){
    .navbar-collapse.collapse{
        margin:0;
    }
    .navbar-collapse>.navbar-nav>li{
        width:3rem;
        padding:0px;
        border:none;
    }
    .navbar-collapse>.navbar-nav>li>a{
    text-align:left;/*小屏幕时每个菜单项的文本左对齐*/
    line-height:1rem;
    background-color:transparent;
    border:none;
    border-radius:0;
    width:100%;
    height:1rem;
    box-shadow:none;
    color:#AAAAAA;
    }
    .navbar-collapse>.navbar-nav>li>a:hover,
    .navbar-collapse>.navbar-nav>li>a:focus{
        background-color:transparent;
        border-color:none;
        color:#000;
        box-shadow:none;
        line-height:1rem;
    }
    .navbar-collapse>.navbar-nav>li:hover,
    .navbar-collapse>.navbar-nav>li:focus{
        border:0;
    }
}
/*导航栏二级菜单附加样式*/
.navbar-nav .open .dropdown-menu{
    margin-top:1rem;
    background-color:transparent;
    border:0.05rem solid #000;
    border-radius:4px;
    min-width:190px;  
}
.navbar-nav .open .dropdown-menu>li:hover{
    background-color:#DCDCDD;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color:#000;
    padding:0px 1rem;
    height:1.5rem;
    line-height:1.5rem;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    border-color:#000;
}
@media(min-width:768px){
    .navbar-nav .open .dropdown-menu{
        background-color:#FFF;
        border:1px solid #CCC;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color:#555;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
        color: #555;
        background-color:transparent;
    }
    .navbar-nav .open .dropdown-menu{
        margin-top:0.5rem;
    }
}
/*主页大图附加样式*/
.itemContainer{
    position:relative;    
    background:#FFFFFF;
    height:8rem;
    border:1px solid #EEEFEF; 
    border-radius:4px;
    overflow:hidden;
    padding:0;
    -webkit-border-radius: 4px;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);/*用于处理增加transform属性后圆角处overflow hidden失效*/
}
.jiujiuItem{
    margin-top:1rem;
}
.shadowLayer{
    overflow:hidden;
    border-radius:4px;
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.1);
    box-shadow:0 2px 4px rgba(0,0,0,.1);
}
.itemContainer>.itemImg{
    position:absolute;
    height:90%;
    right:0;
    left:auto;
    top:2.6rem;
    bottom:auto;
    transform:rotate(45deg);
    animation:jiujiuRotate 50s linear infinite;
}
@keyframes jiujiuRotate{
    0%{transform:rotate(45deg);}
    100%{transform:rotate(405deg);}
}
.itemContainer>.toolsIcon{
    position:absolute;
    height:1rem;
    width:3.5rem;
    left:0.7rem;
    top:5rem;
}
.itemContainer>.toolsIcon>img{
    height:100%;
    float:left;
}
.itemContainer>.itemText{
    position:absolute;
    top:1rem;
    left:0.7rem;
} 
.itemContainer>.itemText>p{
    font-family:"NotoSansHans-Bold";
    font-size:0.7rem;
    margin-bottom:4.3rem;
} 
.itemContainer>.itemText>ul{
    padding:0;
    font-family:"NotoSansHans-Light";
    font-size:0.6rem;
} 
.itemContainer>.itemText>ul>li{
    list-style:none;
}
.itemContainer>.itemText>ul>li:not(:last-child){
    display:none;
} 
@media(min-width:768px){
    .jiujiuItem{
        margin-top:2rem;
    }
    .shadowLayer{
        border-radius:8px;
        -webkit-box-shadow:0 4px 12px rgba(0,0,0,.175);
        box-shadow:0 4px 12px rgba(0,0,0,.175);
    }
    .itemContainer{
        height:18rem;
        border-radius:8px;
        -webkit-border-radius:8px;
    }
    .itemContainer>.toolsIcon{
        height:2.5rem;
        width:8rem;
        top:1rem;
        left:auto;
        right:1.25rem;
        bottom:auto;
    }
    .itemContainer>.itemImg{
        height:120%;
        left:-20%;
        top:-32%;
    }
    .itemContainer>.itemText{
        padding-right:1.25rem;
        height:5rem;
        top:auto;
        left:auto;
        bottom:2rem;
        right:0;
    }
    .itemContainer>.itemText>p{
        font-size:1.4rem;
        margin-bottom:0.5rem;
    }
    .itemContainer>.itemText>ul{
        font-size:0.6rem;
        line-height:1rem;
    }
    .itemContainer>.itemText>ul>li:not(:last-child){
        display:block;
    }
        .itemContainer>.itemText>ul>li:last-child{
        display:none;
    }   
}
@media(min-width:992px){
    .jiujiuItem{
        margin-top:4rem;
    }
    .itemContainer{
        height:24rem;
    }
    .itemContainer>.itemImg{
        height:120%;
        left:-25%;
        top:-32%;
    }
    .itemContainer>.itemText{
        padding-right:2rem;
        height:6rem;
        bottom:2rem;
        right:0;
    }
    .itemContainer>.toolsIcon{
        height:3rem;
        width:10rem;
        top:2rem;
        right:2rem;
    }
    .itemContainer>.itemText>p{
        font-size:2.1rem;
    }
    .itemContainer>.itemText>ul{
        font-size:0.7rem;
        line-height:1rem;
    } 
}
@media(min-width:1200px){
    .itemContainer{
        height:26rem;
    }
    .itemContainer>.itemImg{
        height:120%;
        left:-20%;
        top:-32%;
    }
    .itemContainer>.itemText{
        padding-right:2rem;
        height:8rem;
        bottom:2rem;
        right:0;
    }
    .itemContainer>.itemText>p{
        font-size:2.5rem;

    }
    .itemContainer>.itemText>ul{
        font-size:0.8rem;
        line-height:1.2rem;
    } 
}
